<!DOCTYPE html>
<html>
  <head>
    <title>AppSell</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!-- Importantisimo agregarlo para el delete -->
    <%= javascript_include_tag "turbo", type: "module" %>
  </head>

  <body>
    <%= notice %>
    <%= link_to 'Products List' , products_path %>
    <%= link_to 'Aregar Producto', new_product_path %>
    <%= yield %>
  </body>
</html>
